.left-part {
  max-width: 40%;
}

.image-box {
  width: 183px;
  height: 281px;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 100%;
}

.right-part {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  padding: 15px 20px 12px 20px;
}

.card-header {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 5px;
  padding: 0;

  background-color: transparent;
  color: #333333;
}

.card-header__title {
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  margin: 0px 20px 10px 0;

  color: #000000;
}

.card-header__rate {
  position: absolute;
  right: -13px;
  top: -7px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border: 2px solid #e90000;
  border-radius: 50%;
}

.card-header__rate.more3 {
  border: 2px solid #e97e00;
}

.card-header__rate.more5 {
  border: 2px solid #e9d100;
}

.card-header__rate.more7 {
  border: 2px solid #66e900;
}

.card-header__rate-val {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  color: #000000;
}

.movie-date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  margin-bottom: 5px;

  color: #827e7e;
}

.movie-genre {
  display: flex;
  flex-wrap: wrap;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  margin-bottom: 5px;

  color: rgba(0, 0, 0, 0.65);
}

.movie-genre__item {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  padding: 3px;
  margin: 2px 4px 0px 0px;

  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background: #fafafa;
  color: rgba(0, 0, 0, 0.65);
}

.movie-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;

  margin-bottom: 5px;

  color: #000000;
}

.card-footer {
  margin-top: auto;
}

.card-stars {
  display: flex;
  font-size: 15px;
  justify-content: center;
  flex-wrap: nowrap;

  position: relative;
  bottom: 5px;
}


@media (max-width: 768px) {
  .left-part {
    position: absolute;
  }

  .right-part {
    position: relative;
    min-width: 100%;
    padding: 0;
  }

  .image-box {
    width: 60px;;
    overflow: hidden;
    margin-right: 13px;
  }

  .card-img {
    width: 100%;
    height: 91px;
  }

  .card-header {
    left: 75px;
    width: 80%;
    min-height: 95px;
  }

  .card-header__title {
    font-weight: 400;
    margin: 0 30px 10px 0;
  }

  .card-header__rate {
    right: -3px;
    top: -2px;
  }

  .movie-description {
    margin-bottom: 5px;

  }

  .card-stars {
    font-size: 16px;
    right: -18%;
    bottom: 10px;
  }

}