.tabs::before {
  width: 200px;
  border-bottom: none;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-tabs-top >.ant-tabs-nav::before, :where(.css-dev-only-do-not-override-1wazalj).ant-tabs-top >div>.ant-tabs-nav::before {
  position: absolute;
  left: 50%;
  width: 170px;
  border-bottom: 1px solid #dad5d5;
  transform: translateX(-50%);
}

:where(.css-dev-only-do-not-override-1wazalj).ant-tabs .ant-tabs-tab+.ant-tabs-tab {
  margin: 0 0 0 5px;
}

.ant-tabs-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 85px;
}

.ant-tabs-nav-list {
  display: flex;
}

